body {
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span, button, p, ul, li {
    margin: 0;
    padding: 0;
}

.cont_col {
    display: flex;
    flex-direction: column;
}

/*    Container     */
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

/*   Header    */

.header {
    width: 100%;
    height: 85px;
    z-index: 1000;
}

.header_inner {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 35px 0;
    max-height: 85px;
    max-width: 1056px;
    align-items: center;
    justify-content: space-between;
}


.log_phone {
    display: flex;
    align-items: center;
}

.logo_link {
    font-size: 29px;
    line-height: 46px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.phone {
    display: flex;
    margin-left: 25px;
    align-items: center;
}

.phone_line {
    width: 1px;
    height: 20px;
    margin-right: 25px
}

.fa-phone {
    margin-right: 10px;
}

.phone_num {
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.nav_link {
    opacity: 0.75;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    margin-right: 30px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.nav_link.act {
    opacity: 1;
    color: #ffffff;
}

.header_inner_but {
    width: 110px;
    height: 32px;
    border: none;
    outline: none;
    border-radius: 2px;
}

.header_inner_but > span {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}


/*    Burger    */

.burger {
    display: none;
}

.burger {
    width: 35px;
    height: 30px;
    cursor: pointer;
    margin: 10px 10px;
    position: relative;
    /*display: inline-block;*/
}

.burger span {
    width: 100%;
    height: 4px;
    position: absolute;
    border-radius: 2px;
    background-color: #fff;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.burger span:nth-child(1) {
    top: 0;
    left: 0;
}

.burger span:nth-child(2) {
    left: 0;
    top: 13px;
}

.burger span:nth-child(3) {
    left: 0;
    bottom: 0;
}

.burger:not(.open):hover span:nth-child(1) {
    left: -5px;
    transform: scaleY(1.2);
}

.burger:not(.open):hover span:nth-child(2) {
    transform: rotate(5deg) scaleY(1.1);
}

.burger:not(.open):hover span:nth-child(3) {
    left: 5px;
    transform: scaleY(1.2);
}

.burger.open span:nth-child(1) {
    top: 13px;
    left: -8px;
    transform: rotate(45deg) scaleX(0.7);
}

.burger.open span:nth-child(2) {
    transform: scale(0);
    transition-duration: 50ms
}

.burger.open span:nth-child(3) {
    top: 13px;
    left: 7px;
    transform: rotate(-45deg) scaleX(0.7);
}


.mobile_menu {
    width: 0;
    height: 0;
    left: 10%;
    top: 85px;
    display: flex;
    z-index: 1000;
    background: white;
    visibility: hidden;
    position: absolute;
    align-items: center;
    border-radius: 25px;
    padding: 15vh 0 35vh;
    transform-origin: 0 0;
    flex-direction: column;
    box-shadow: 0 0 65px 65px #0f5f5c;
    transform: translate(100%, -10%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}


.mobile_menu.open {
    width: 80%;
    height: 80vh;
    transform: none;
    visibility: visible;
}


.main-nav {
    width: 100%;
    height: 50vh;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    flex-direction: column;
}


ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    color: #0f5f5c;
    font-size: 2rem;
    text-decoration: none;
}

body.open_menu {
    overflow: hidden;
}


/*   Main   */

main {
    flex: 1;
    width: 100%;
}

.about {
    padding: 100px 0;
}

.about_inner, .our_team_inner {
    width: 100%;
    margin: 0 auto;
    max-width: 1056px;
}

.down_cont_inner {
    display: flex;
    margin: 0 auto;
    max-width: 1056px;
    justify-content: space-between;
}

.about_us_cont {
    width: 100%;
}

.down_cont {
    width: 100%;
    padding: 60px 0;
    background: linear-gradient(rgba(111, 176, 72, 0.9), rgba(111, 176, 72, 0.9)),
    #6fb048 url("../Images/office image.png") no-repeat center /cover;
}


.down_cont_button {
    display: flex;
    align-items: center;
}

.main_title, .desc_cont, ._3_block {
    text-align: center;
    align-items: center;
}

._3_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 0 auto;
    justify-content: space-between;
}

.ionicons_cont, .photoshop_and_sketches_cont, .creative_design_cont {
    height: 100%;
}

.main_title, .block_title, h2 {
    color: #0f5f5c;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}

.main_title {
    text-align: center;
}

.block_title {
    font-size: 16px;
    padding: 28px 0 20px 0;
    line-height: 20px;
}

.underline {
    width: 65px;
    height: 1px;
    margin: 25px 0;
    background-color: #6fb048;
}

.description, .block_description {
    color: #83a7a5;
    font-weight: 400;
    line-height: 22px;
}

.description {
    width: 705px;
    height: 100%;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
}

.block_description {
    width: 332px;
    font-size: 14px;
}


.our_team_3_block .block_description {
    text-align: left;
}

.description_meet_our_team {
    height: 57px;
}

.down_cont_text p:nth-child(1) {
    font-size: 28px;
    font-weight: 300;
    line-height: 35px;
}

.down_cont_text p:nth-child(2) {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.download_button {
    width: 285px;
    height: 42px;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.download_button > span {

}

/*    Footer   */
footer {
    width: 100%;
}

.footer_inner, .footer_outer {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1056px;
    justify-content: space-between;
}

.footer_inner {
    padding: 90px 0 60px;
    align-items: baseline;
}

.footer_outer {
    padding: 25px 0;
    align-items: center;
    border-top: 1px solid #eef1ec;
}

.foot_col {
    margin-top: 10px
}


.foot_col p:not(:nth-child(1)),
.foot_col a {
    color: #83a7a5;
    font-size: 13px;
    margin-top: 7px;
    font-weight: 400;
    line-height: 28px;
}

.foot_col a {
    cursor: pointer;
}

.foot_col:not(:nth-child(1)) p:nth-child(1) > span,
.footer_inner_col1 p:nth-child(2) > span {
    color: #0f5f5c;
    font-weight: bold;
}

.footer_inner_col1 p:nth-child(1) {
    color: #0f5f5c;
    font-size: 22px;
    font-weight: bold;
    line-height: 35px;
    font-family: "Poppins", sans-serif;
}

.footer_inner_col4 input {
    padding: 0;
}

.sub_email {
    height: 36px;
    display: flex;
    padding: 0 15px;
    border-radius: 3px;
    flex-direction: row;
    align-items: center;
    background-color: #eef1ec;
}

input {
    height: 100%;
    border: none;
    outline: none;
    color: #83a7a5;
    padding: 0 30px 0 10px;
    background-color: transparent;
}

input::placeholder {
    color: #83a7a5;
}


.social_media {
    display: flex;
    align-items: center;
}

.social_media_logo {
    width: 30px;
    border: none;
    height: 30px;
    display: flex;
    margin: 0 3px;
    cursor: pointer;
    border-radius: 15px;
    align-items: center;
    transition: all 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.social_media_logo img {
    width: 20px;
    height: 20px;
    margin: auto;
    filter: invert(0);
    transition: 10s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.twitter_logo {
    background-color: #55acee;
}

.facebook_logo {
    background-color: #3b5998;
}

.instagram_logo {
    background-color: #3f729b;
}

.dribble_logo {
    background-color: #ea4c89;
}

.github_icons {
    background-color: #333333;
}

.rights {
    color: #83a7a5;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}


/*!*       Effects      *!*/

/*          Button        */


.effect {
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.effect:hover {
    background-color: #83a7a5;
}

.effect:after {
    z-index: 1;
    top: -50px;
    width: 50px;
    content: "";
    left: -75px;
    opacity: .8;
    height: 155px;
    position: absolute;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    animation: afterMove2 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.effect:hover:after {
    animation: afterMove1 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.effect_gray:hover {
    background-color: #83a7a5;
}

.effect_green:hover {
    background-color: #6fb048;
}

@keyframes afterMove1 {
    from {
        left: -75px;
        opacity: .8;
        transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
    }
    to {
        opacity: 0;
        left: 120%;
        background: white;
        transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
    }
}

@keyframes afterMove2 {
    from {
        opacity: 0;
        left: 120%;
        background: white;
        transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
    }
    to {
        left: -75px;
        opacity: .8;
        transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
    }
}

/*         a Tags        */

.header a:hover {
    opacity: 1;
    text-shadow: 0 0 20px;
}


/*        Svg Logos      */

.social_media_logo:hover {
    border: 1px solid black;
    background-color: white;
}

.social_media_logo:hover img {
    filter: invert(1);
}